{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1>Index des catégories</h1>
    <div class="col-sm-6">
        <a href="{{ path('category_new') }}"><button class="btn-success btn">Créer une nouvelle catégorie</button></a>
    </div>
    <table class="table m-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('category_show', {'id': category.id}) }}" class="btn btn-warning">Voir</a>
                    <a href="{{ path('category_edit', {'id': category.id}) }}" class="btn btn-warning">Editer</a>
                    {{ include('category/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Il n'y a pas de catégories à afficher</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
