{% extends 'base.html.twig' %}

{% block title %}Editer un produit{% endblock %}

{% block body %}
    <h1>Editer un produit</h1>

    {{ include('produit/_form.html.twig') }}
    <div class="form-group row">
        <div class="col-sm-2">
            <a href="{{ path('produit_index') }}"><button type="submit" class="btn-primary btn">Retour à la liste</button></a>
        </div>
        <div class="col-sm-10">
            <button type="submit" class="btn-success btn">Modifier l’article</button>
            {{ form_end(form) }}
            {{ include('produit/_delete_form.html.twig') }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/file.js') }}"></script>
    <script src="{{ asset('js/product_tag_form.js') }}"></script>
{% endblock %}
