{% extends 'base.html.twig' %}
{% block title %}Présentation des produits{% endblock %}
{% block body %}
    <main class="container">
        <div class="col-12 row justify-content-between mt-1">
            <h1>Présentation des produits</h1>
            {% if is_granted('ROLE_MODERATEUR') %}
                <a href="{{ path('produit_new') }}" class="my-auto"><button class="btn-success btn">Créer un nouveau produit</button></a>
            {% endif %}
        </div>
        <section class="row">
            <div class="card-deck justify-content-center">
                {% for produit in produits %}
                        <div class="card col-3 mt-5" style="min-width: 20%; max-width:25%;padding:0" >
                                <figure style="height:45%;" class="">
                                    <a class="card-link btn btn-outline-info " href="{{ path('produit_show', {'slug': produit.slug}) }}">
                                        <img src="/img/{{ produit.imageName }}" class="card-img-top "
                                             alt="Image de {{ produit.name }}">
                                    </a>
                                </figure>
                            <div class="card-body">
                                <p class="card-text">{{ produit.categories.name }}</p>
                                <h5 class="card-title text-center">{{ produit.name }} - {{ produit.price }} €</h5>
                                <p class="card-text">{{ produit.description() | slice(0,75) }}</p>
                            </div>
                            <div class="card-footer text-center p-0">
                                <div class="w-100 mb-2" >{{ produit.tags.values | join(', ') }}</div>
                                <div class="w-100 mb-2 text-muted" >publié par : {{ produit.author.email }}</div>
                                <div class="w-100 mb-2" >
                                    <div class="btn-group">
                                        <a class="card-link btn btn-outline-info" href="{{ path('produit_show', {'slug': produit.slug}) }}">Voir</a>
                                        {% if app.user == produit.author or is_granted('ROLE_ADMIN') %}
                                        <a class="card-link btn btn-outline-secondary" href="{{ path('produit_edit', {'slug': produit.slug}) }}">Editer</a>
                                        {% endif %}
                                        {% if is_granted('ROLE_ADMIN') %}
                                            {{ include('produit/_delete_form.html.twig') }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                {% else %}
                    <div class="col-4">
                        <h2>Il n'y a pas de produits à afficher</h2>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}