{% extends 'base.html.twig' %}

{% block body %}
<h1>Liste des produits</h1>
    {% for produit in produits %}
    Detail du produit {{ produit.id }} / {{ produit.name }} / {{ produit.description }} / {{ produit.price }} € / {{ produit.creationDate|date('d-m-Y')}}
    <br>{% endfor %}
{% endblock %}

{% block title %}

{% endblock %}

