{% extends 'base.html.twig' %}
{% block title %}Zone d'amninistration{% endblock %}
{% block body %}
    <main class="container">
        <h1 class="mt-2">Zone d'amninistration</h1>
        <table class="table m-3">
            <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Role</th>
                <th>Inscrit depuis le</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% if is_granted('ROLE_MODERATEUR') %}
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.roles | join(', ') }}</td>
                        <td>{{ user.createdAt | date("d/m/Y") }}</td>
                        <td>
                            <a href="{{ path('SwitchRole', { 'id': user.id}) }}" class="btn btn-success">Changer de role</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">Il n'y a pas d'utilisateur à afficher</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </main>
{% endblock %}
