{% extends 'base.html.twig' %}

{% block title %}Index des Tags{% endblock %}

{% block body %}
    <h1>Index des Tags</h1>
    <div class="col-sm-6">
        <a href="{{ path('tag_new') }}"><button class="btn-success btn">Créer un nouveau Tag</button></a>
    </div>
    <table class="table m-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libellé</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.id }}</td>
                <td>{{ tag.label }}</td>
                <td>
                    <a href="{{ path('tag_show', {'id': tag.id}) }}" class="btn btn-warning">Voir</a>
                    <a href="{{ path('tag_edit', {'id': tag.id}) }}" class="btn btn-warning">Editer</a>
                    {{ include('tag/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3"Il n'y a pas de Tag à afficher</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
